.name, .last-name, .cellphone-number, .second-name, .genero {
    width: 48%;
}


.email {
    width: 48%;
    text-align: right;
}


.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.input-row > div {
    flex-basis: 48%; /* Ajusta el ancho de cada input */
}

.btn {
    margin-top: 10px;
}

h1 {
    position: absolute;
    top: 0;
}

input {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    border-radius: 6px;
}

.wrapper {
    position: relative;
    width: 800px;
    height: 540px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}



.form-box h2 {
    position: absolute;
    top: 50px;
    left: 30px;
    font-size: 2em;
    color: #162938;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.btn {
    width: 100%;
    height: 45px;
    bottom: 0;
    background: #f69231;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

/* body.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent no-repeat;
    background-size: cover;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
